In [ ]:
Q1. 1. Write a program to accept percentage from the user and display the grade according to the following 
        Marks 
Grade 
>90 
A 
>80 and <=90 
B 
>=60 and <=80 
C 
below 60 
D

In [13]:
#ans
marks= int(input("Enter your marks:"))
if (marks>90):
     print("GRAD A")
elif (marks>80)and (marks<=90):
     print("GRAD B")
elif (marks>=60) and (marks<=80):
     print("GRAD C")
elif (marks<60):
     print("GRAD D")

Enter your marks: 94

GRAD A

In [ ]:
Q2 Write a program to accept the cost price of a bike and display the road tax to be paid according to the 
following criteria: 
Tax       Cost Price(in Rs)
15%       >100000
10%       >50000 and <= 100000
5%        <= 50000

In [18]:
#ans
cost_price=float(input("Enter the price of bike:"))
if (cost_price > 100000):
    tax = 0.15
elif (cost_price > 50000) and (cost_price <= 100000):
    tax= 0.10
elif (cost_price <=50000):
    tax = 0.5
road_tax= cost_price * tax
print(road_tax, "is he road tax to be paid")

Enter the price of bike: 120000

18000.0 is he road tax to be paid

In [ ]:
3. Accept any city from the user and display monuments of that city. 
City         Monument 
Delhi        Red Fort 
Agra             Taj Mahal     
Jaipur       Jal Mahal

In [20]:
#ans
city=input("Enter the name of city:")
if (city=="delhi"):
    print("Red fort")
elif (city=="agra"):
    print("Taj mahal")
elif (city=="jaipur"):
    print("jal mahal")
else:
    print("enter the valid city")

Enter the name of city: agra

Taj mahal

In [ ]:
Q4. Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [13]:
#ans.
num=int(input("enter the number:")) 
div=3
if num%div==0:
    print(num)
else:
    print("enter the valid number")

enter the number: 11

enter the vlid number

In [ ]:
Q5.  Why and When to Use while Loop in Python give a detailed description with example

In [ ]:
ans    In programming, loops are used to repeat a block of code. 
       For example, if we want to show a message 100 times, then we can use a loop.
       It's just a simple example, we can achieve much more with loops.
     example: Print i as long as i is less than 6:
              i = 1
              while i < 6:
                print(i)
                i += 1

In [ ]:
Q6. Use nested while loop to print 3 different pattern. 
  1 * A simple example of the nested while loops.
    i=1
    while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1
 
  2 * Another most common use of nested loop is to print various star and number patterns.
         rows = 5
         for i in range(1, rows + 1):
            for j in range(1, i + 1):
                 print("*", end=" ")
            print('')
            
  3 * Break Nested loop

       for i in range(4):
          for j in range(4):
            if j == i:
                break
            print(i,j)

In [ ]:
Q7. 7. Reverse a while loop to display numbers from 10 to 1.

In [1]:
#ans.
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
Q8. Reverse a while loop to display numbers from 10 to 1

In [4]:
#ans
i=0
while i>0:
    print(i)
    i-=1